<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jbnu.software.foodstorage">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="식량창고"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FoodStorage">
        <activity android:name=".MainActivity" />
        <activity android:name=".ui.membership.LoginActivity" />
        <activity android:name=".ui.membership.SignupActivity" />
        <activity android:name=".ui.search.SearchActivity" />
        <activity android:name=".ui.storage.AddStorageActivity" />

        <activity
            android:name=".SplashActivity"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".AlarmReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="com.dwfox.myapplication.SEND_BROAD_CAST" />
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
                <action android:name="my.action.string" />
            </intent-filter>
        </receiver>


    </application>

</manifest>